<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="scripts/app.js" defer></script>
    <title>EDC</title>
</head>

<body>
    <header>
        <h1>Welcome to Fest. y</h1>
    </header>
    <nav>
        <a class="stagesLink" href="/stages">THE STAGES</a>
        <a class="artistLink" href="/artists">MEET THE ARTIST</a>
        <a class="merchLink" href="??????????">MERCH</a>
    </nav>
    <article class="homeBio">
        <p>
            Under the Electric Sky, we come together to celebrate life, love, art, and music. From the stages and the
            sound to the pyrotechnics and the performers, so many unique elements go into bringing this world to life.
            We invite you to wander and explore go deeper into the rabbit hole then ever before.
        </p>
    </article>

    <section class="wrapper">
        <section class="homePictures">
            <img class="homePicOne" src='/images/cosmic.jpg' alt="First Stage">
            <img class="homePicTwo" src='/images/fire.jpg' alt="Fire Stage">
            <img class="homePicThree" src='/images/mainStage.jpg' alt="Fourth stage">
            <img class="homePicFour" src='/images/stageTwo.jpeg' alt="Third Stage">

        </section>
    </section>


    <div class="homeTourDates">
        <h2 class="tourDates">TOUR DATES</h2>

        <div class="dayOne">JAN. 2ND, 2021 - SAN DIEGO, CA - <button class="soldButtons">SOLD OUT</button> </div>


        <div class="dayTwo">FEB. 6TH, 2021 - SAN FRANSISCO, CA - <button class="soldButtons">SOLD OUT</button></div>


        <div class="dayThree">Mar. 13TH, 2021 - SEATTLE, WA - <button class="soldButtons">SOLD OUT</button></div>


        <div class="dayFour">APR 24TH, 2021 - LAS VEGAS, NV - <button class="soldButtons">SOLD OUT</button></div>


        <div class="dayFive">MAY 2TH, 2021 - MIAMI, FL - <button class="buyButton">BUY TICKETS</button></div>

    </div>


    <footer class="subscribeHome">
        <p class="subscribeInfo">Stay up to date with the latest news about Fest.y</p>
        <form action="????????" method='POST'>
            <input class="inputEmail" type="email" name="email" placeholder="Enter Email" />
            <input class="subscribeButton" type="submit" value="Subscribe">
        </form>
    </footer>
</body>

</html>