<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDC</title>
</head>

<body>
    <header>
        <nav>
            <a href="/stages">Find a stage</a>
            <a href="/artists">Meet the Artist</a>
        </nav>
        <h1>Welcom to EDC</h1>
    </header>
    <article>
        <p>Under the Electric Sky, we come together to celebrate life, love, art, and music. From the stages and the
            sound to the pyrotechnics and the performers, so many unique elements go into bringing this world to life.
            We invite you to wander, explore, interact, and connect. Imagination and positive energy are the currency of
            this place.
        </p>
    </article>
</body>

</html>