<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Stages</title>
</head>

<body>
    <header>
        <h1>
            Find your stage
        </h1>
    </header>

    <section>
        <p>
        <ul>
            <% stages.forEach(stage => { %>
                <a href="/stages/<%= stages._id %>">
                    <li>
                        <%= stages.stageName %>
                    </li>
                </a>
                <% }); %>
        </ul>
        </p>
    </section>
</body>

</html>