<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Stages</title>
</head>

<body>
    <header>Find your stage</header>

    <section>
        <p>
        <ul>
            <% stages.forEach(stage=> { %>
                <li>
                    <a href="/stages/<%= stage._id %>">
                        <%= stage.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
        </p>
    </section>
</body>

</html>