<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <title>The Stages</title>
</head>

<body>
    <header>
        <h1>
            Find your stage
        </h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/stages/new">Add a Stage</a>
    </nav>

    <section>
        <p>
        <ul>
            <% stages.forEach(stage=> { %>
                <li>
                    <a href="/stages/<%= stage._id %>">
                        <%= stage.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
        </p>
    </section>
</body>

</html>