<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>New Stage</title>
</head>

<body>
    <header>
        <h1>Add a new stage</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/stages">Back to all stages</a>
    </nav>








</body>


</html>