<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Stages</title>
</head>

<body>
    <header>
        <h1>Welcome to <%= stages.name %>
        </h1>
        <h2>
               Set Times:
        </h2>
        <section>
            <p>
            <ul>
                <% stages.forEach(stage=> { %>
                    <a href="/stages/<%=stages._id%>"></a>
                    <li>
                        <% stages.setTime %>
                    </li>
                    <% }) %>
            </ul>
            </p>
        </section>
    </header>


</body>

</html>