<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Stages</title>
</head>

<body>
    <header>
        <h1>Welcome to <%= stages.name %>
        </h1>
        <h2>
            <% c %>

                <% if (stage.name==="Cosmic Gardens" ) { %>
                    Converge at COSMIC GARDENS with your fellow Headliners and kick off the festivals Opening Ceremony
                    here.
                    Then immerse yourself in the sounds and lights. Three days of larger-than-life performances by the
                    top
                    names in electronic music.

                    <% } else if { %>
                        Currently working on a Stage
                        <%} %>
        </h2>
    </header>


</body>

</html>