/* UNIVERSAL */
body {
    width: 100%;
    align-items : center;
    height: 100%;
     

    background-position: center center; 

    
    background-repeat: no-repeat;

    
    background-attachment: fixed;

   
    background-size: cover;

   
    background-color: rgb(0, 0, 0);

    background-image:url('/images/edc.jpg');

    font-family: 'Julius Sans One', sans-serif;

    font-weight: bold;
}
header {
    text-align: center;
    margin: 1%;
}
h1 {
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    font-family: 'Julius Sans One', sans-serif;
}
nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: larger;
    padding: 1%;
    margin: 1%;
}
a {
    color: whitesmoke;
}
a:hover {
    color: chartreuse;
}
div {
    background-color: rgba(0, 0, 0, .7);
}
section {
    background-color: rgba(0, 0, 0, .7);
}
article {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}
footer {
    background-color: rgba(0, 0, 0, .8);
} 


/* MAIN HOME PAGE  */
.homeNav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.homeBio {
    text-align: center;
    font-size: x-large;
    padding: 2%;
    margin: 4%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
}
.wrapper {
    overflow: hidden;
  }
  
  .homePictures {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    width: 4500px;
    animation: slide 35s linear infinite;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-2750px, 0, 0);
    }
  }
.homeTourDates {
    color: whitesmoke;
    text-align: center;
    font-size: large;
    padding: 1%;
    margin: 2%;
}
.tourDates {
    color: whitesmoke;
    text-align: center;
    padding: 2%;
}
.soldButtons {
    font-size: medium;
    background-color: red;
}
.soldButtons:hover {
    color: whitesmoke;
    background-color: rgba(126, 0, 0, 0.8);
    cursor: not-allowed;
}
.buyButton {
    font-size: medium;
    background-color: rgb(5, 5, 75);
    color: whitesmoke;
}
.buyButton:hover {
    color: whitesmoke;
    background-color: rgb(6, 109, 39);
    cursor: pointer;
}
 .dayOne {
     margin: 2%;
     padding: 1%;
 }
 .dayTwo {
    margin: 2%;
    padding: 1%;
}
.dayThree {
    margin: 2%;
    padding: 1%;
}
.dayFour {
    margin: 2%;
    padding: 1%;
}
.dayFive {
    margin: 2%;
    padding: 1%;
}
.subscribeInfo {
    color: rgb(255, 0, 0);
    font-size: xx-large;
}
.subscribeHome {
    background-color: rgba(0,0,0,.7); 
    text-align: center;
    padding: 10%;
}
.subscribeForm {
    display: flex;
    justify-content: space-evenly;
} 
.inputEmail {
    font-size: large;
}
.subscribeButton {
    font-size: large;
}
.subscribeButton:hover {
    background-color: rgba(255, 0, 0, 0.7);
    cursor: pointer;
}
.whichCountry {
    color: whitesmoke;
    font-size: large;
}
#country:hover {
    cursor: pointer;
}


/* ARTIST INDEX PAGE */
.indexNav {
    display: flex;
    justify-content: space-around;
}
.artistPlaying {
    color: whitesmoke;
    padding: 1%;
    margin: 1%;
}
.requestSection {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    padding: 2%;
    font-size: large;
}

/* ARTIST SHOW PAGE */
.artistShow {
    background-image: url('/images/stageThree.jpg');
}
.artistShowNav {
    display: flex;
    justify-content: space-around;
}
.artistShowInfo {
    color: whitesmoke;
    padding: 1%;
    margin: 1%;
    font-size: large;
}
.aritstEditDelete {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.deleteArtist:hover {
    cursor: pointer;
    background-color: red;
}

/* ARTIST EDIT PAGE */
.artistEdit {
    background-image: url('/images/stageThree.jpg');
}
.editNav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.artistEditSection {
    color: whitesmoke;
    padding: 2%;
    font-size: x-large;
}
.artistEditForm {
    display: flex;
    justify-content: space-evenly;
}

.editUpdateButton:hover {
    background-color: cadetblue;
    cursor: pointer;
}

/* ARTISTS REQUESTS PAGE */
.requestsNav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.requestedArtist {
    padding: 1%;
    margin: 5%;
}

/* ARTIST NEW PAGE */
.artistNewNav {
    display: flex; 
    justify-content: space-around;
    padding: 1%;
}
.artistNewSection {
    color: whitesmoke;
    padding: 2%;
    margin: 1%;
    font-size: x-large;
}
.artistNewForm {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
}

.artistSubmit:hover {
    background-color: cadetblue;
    cursor: pointer;
}

/* STAGES INDEX PAGE */
.stageIndexNav {
    display: flex; 
    justify-content: space-around;
    padding: 1%;
    margin: 1%;
}
.stagesIndexSection {
    color: whitesmoke;
    font-size: large;
    padding: 5%;
    margin: 1%;
}

/* STAGES NEW PAGE */
.stagesNewNav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.stagesNewSection {
    color: whitesmoke;
    font-size: large;
    padding: 5%;
    margin: 1%;
}
.stageNewForm {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
}
.stageSubmit:hover {
    cursor: pointer;
    background-color: cadetblue;
}

/* STAGES SHOW PAGE */
.stagesShowBody {
    background-image: url('/images/kineticGarden.jpg');
}
.stagesShowNav {
    display: flex;
    justify-content: space-evenly;
}
.stageShowInfo {
    color: whitesmoke;
    text-align: center;
    padding: 1%;
    margin: 1%;
}
.artistsPlaying {
    color: whitesmoke;
    padding: 1%;
}
.artistsPlayingHThree {
    text-align: center;
}
.stagesEditDelete {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    margin: 1%;
}

/* STAGES EDIT PAGE  */
.stageEdit {
    background-image: url('/images/kineticGarden.jpg');
    color: whitesmoke;
    
}
.stageEditNav {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}
.stageEditForm {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    padding: 4%;
    font-size: large;
}
.stagesEditUpdateButton:hover {
    cursor: pointer;
    background-color: cadetblue;
}

/* MERCH INDEXT PAGE */
.merchBody {
    background-image: url('/images/ferrisWheel.jpeg');

}
.merchNav {
    display: flex;
    justify-content: space-around;
}