/* UNIVERSAL */
body {
    width: 100%;
    align-items : center;
    height: 100%;
     

    background-position: center center; 

    
    background-repeat: no-repeat;

    
    background-attachment: fixed;

   
    background-size: cover;

   
    background-color: rgb(210, 203, 16);

    background-image:url('/images/edc.jpg');

    font-family: 'Julius Sans One', sans-serif;

    font-weight: bold;
}
header {
    text-align: center;
    margin: 1%;
}
h1 {
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    font-family: 'Julius Sans One', sans-serif;
}
nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: larger;
    padding: 1%;
    margin: 1%;
}
a {
    color: whitesmoke;
}
a:hover {
    color: chartreuse;
}
div {
    background-color: rgba(0, 0, 0, .7);
}
section {
    background-color: rgba(0, 0, 0, .7);
}
article {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}
footer {
    background-color: rgba(0, 0, 0, .8);
} 


/* MAIN HOME PAGE  */
.stagesLink {
   position: absolute;
   left: 2%;
}
.merchLink {
   position: absolute;
   right: 6%;
}
.homeBio {
    text-align: center;
    font-size: x-large;
    padding: 2%;
    margin: 4%;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
}
.homePictures {
    background-color: rgba(0, 0, 0, .7);
}
.homeTourDates {
    color: whitesmoke;
    text-align: center;
    font-size: large;
    padding: 1%;
    margin: 2%;
}
.tourDates {
    color: whitesmoke;
    text-align: center;
    padding: 2%;
}
.buyButtons {
    font-size: medium;
}
.buyButtons:hover {
    background-color: rgba(255, 255, 255, .7);
    cursor: pointer;
}
 .dayOne {
     margin: 2%;
     padding: 1%;
 }
 .dayTwo {
    margin: 2%;
    padding: 1%;
}
.dayThree {
    margin: 2%;
    padding: 1%;
}
.dayFour {
    margin: 2%;
    padding: 1%;
}
.subscribeInfo {
    color: rgb(255, 0, 0);
    font-size: xx-large;
}
.subscribeHome {
    background-color: rgba(0,0,0,.7); 
    text-align: center;
    padding: 10%;
}
.inputEmail {
    font-size: large;
}
.subscribeButton {
    font-size: large;
}
.subscribeButton:hover {
    background-color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

/* ARTIST INDEX PAGE */
.artistPlaying {
    padding: 1%;
    margin: 1%;
}
.requestSection {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    padding: 2%;
    font-size: large;
}

/* ARTIST SHOW PAGE */
.artistShow {
    background-image: url('/images/stageThree.jpg');
}
.artistShowNav {
    display: flex;
    justify-content: space-around;
}
.artistShowInfo {
    color: whitesmoke;
    padding: 1%;
    margin: 1%;
    font-size: large;
}
.aritstEditDelete {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.deleteArtist:hover {
    cursor: pointer;
    background-color: red;
}

/* ARTIST EDIT PAGE */
.artistEdit {
    background-image: url('/images/stageThree.jpg');
}
.editNav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.artistEditSection {
    color: whitesmoke;
    padding: 2%;
    font-size: x-large;
}
.artistEditForm {
    display: flex;
    justify-content: space-evenly;
}

.editUpdateButton:hover {
    background-color: cadetblue;
    cursor: pointer;
}

/* ARTISTS REQUESTS PAGE */
.requestsNav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
.requestedArtist {
    padding: 1%;
    margin: 5%;
}

/* ARTIST NEW PAGE */
.artistNewNav {
    display: flex; 
    justify-content: space-around;
    padding: 1%;
}
.artistNewSection {
    color: whitesmoke;
    padding: 2%;
    margin: 1%;
    font-size: x-large;
}
.artistNewForm {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    padding: 4%;
}

.artistSubmit:hover {
    background-color: cadetblue;
    cursor: pointer;
}
