<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Stages</title>
</head>

<body>
    <header>
        <h1>Find Artist set times </h1>
    </header>

    <section>
        <p>
        <ul>
            <% artists.forEach(artist=> { %>
                <li>
                    <a href="/artists/<%= artist._id %>">
                        <%= artist.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
        </p>
    </section>
</body>

</html>