<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Request</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/artists">Back to all Artists</a>
    <a href="/artists/requests">Requested Artist</a>
    <h1>Request an Arist</h1>

    <form action="/artists/requests" method="POST">


        Name: <input type="text" name="djName" placeholder="Excision" />
        Genre: <input type="text" name="genre" placeholder="dubstep" />

        <input type="submit" value="Request new Arist">

    </form>




</body>

</html>