<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>Artist Request</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/artists">Back to all Artists</a>
        <a href="/artists/requests">Requested Artist</a>
    </nav>
    <header>
        <h1>Request an Arist</h1>
    </header>

    <section>
        <form action="/artists/" method="POST">


            Name: <input type="text" name="djName" placeholder="Excision" />
            Genre: <input type="text" name="genre" placeholder="dubstep" />
            Top Hits: <input type="text" name="topHits" placeholder="Top Hits" />
            Stage: <input type="text" name="stage" placeholder="What stage are they playing on?" />

            <input type="submit" value="Request new Arist">

        </form>
    </section>





</body>

</html>