<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Artist</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/artists">Back to all Artists</a>
    </nav>

    <header>
        <h1> Meet the Artist </h1>
    </header>

    <section>
        <h2>
            Name: <%= artist.djName %>
        </h2>

        <h4>
            Genre: <%=artist.genre%>
        </h4>

        <h4>
            Top hits: <%= artist.topHits %>
        </h4>

        <h4>
            Playing at:
            <%= artist.stage %>
        </h4>
    </section>

    <section>
        <a href="/artists/edit">Edit Artist</a>
    </section>

</body>

</html>