<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Artist</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/artists">Back to all Artists</a>

    <h1> Meet the Artist </h1>

    <h2>
        Name: <%= artist.djName %>
    </h2>

    <h4>
        Genre: <%=artist.genre%>
    </h4>

    <h3>
        Top hits: <%= artist.topHits %>
    </h3>

    <h4>
        Stage/stages:
        <%= artist.stage %>
    </h4>


</body>

</html>